{% extends "base.html" %}

{% block content %}
    <p>Hello worlds!</p>
    <ul>
    <li>{{ current_user.is_authenticated }}</li>
    </ul>

    {% if current_user.is_authenticated %}
        Hi! You are logged in as {{ current_user.username }}!
        <a href="{{ url_for("users.logout") }}">Log out</a>
    {% else %}
        You are not logged in.
        <p><a href="{{ url_for("google.login") }}">Log in with Google</a></p>
        <p><a href="{{ url_for("facebook.login") }}">Log in with Facebook</a></p>
    {% endif %}

    <p>Current time: {{ variable }}</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}