aniso8601==1.1.0
blinker==1.4
click==6.6
Flask==0.11.1
Flask-Assets==0.12
Flask-Dance==0.10.0
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.2
Flask-Principal==0.4.0
Flask-RESTful==0.3.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-Testing
Flask-WTF==0.13.1
itsdangerous==0.24
Jinja2==2.8
lazy==1.2
MarkupSafe==0.23
marshmallow==2.10.3
marshmallow-jsonapi==0.9.0
oauthlib==2.0.0
passlib==1.6.5
psycopg2==2.6.2
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
SQLAlchemy==1.1.1
SQLAlchemy-Utils==0.32.9
URLObject==2.4.2
uWSGI==2.0.13.1
webassets==0.12.0
Werkzeug==0.11.11
WTForms==2.1
